@import "tailwindcss";

/* Custom Tailwind Classes using css */
@theme {

}

html {
    font-family: Inter, Roboto, "Helvetica Neue", "Arial Nova", "Nimbus Sans",
      Arial, sans-serif;
    height: 100%;
    scroll-behavior: smooth;
  }

  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: white;
    overflow-x: hidden;
  }

  section{
    scroll-margin-top: 95px;
  }

  .underline-animation {
    position: relative;
    display: inline-block;
  }

  .underline-animation::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #007cff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  .underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }