---
import SocialIcons from "../components/SocialIcons.astro";
---

<footer class="mt-44 pb-6 flex justify-between items-center">
  <div class="text-gray-600 font-semibold text-sm">
    <p>Contact</p>
    <p>hominum@gmail.com</p>
  </div>
  <SocialIcons />
</footer>
