---
import Card from "./BenefitsComponents/Card.astro";

const BENEFITS = [
  {
    title: "Reduce la inflamación",
    description:
      "La terapia de Inmersión de Hielo puede ayudar a reducir la inflamación en el cuerpo, lo que puede ser beneficioso para aquellos con artritis y otras afecciones inflamatorias.",
  },
  {
    title: "Mejora la recuperación muscular",
    description:
      "La terapia de Inmersión de Hielo puede ayudar a reducir la inflamación en el cuerpo, lo que puede ser beneficioso para aquellos con artritis y otras afecciones inflamatorias.",
  },
  {
    title: "Aumenta la energía",
    description:
      "La terapia de Inmersión de Hielo puede ayudar a reducir la inflamación en el cuerpo, lo que puede ser beneficioso para aquellos con artritis y otras afecciones inflamatorias.",
  },
];
---

<section class="" id="benefits">
  <div class="text-center mb-12">
    <h2
      class="text-2xl md:text-3xl font-bold tracking-tight sm:text-4xl text-gray-900"
    >
      Los Beneficios Respaldados por la Ciencia
    </h2>
    <p class="mt-4 text-md md:text-lg text-gray-600 max-w-2xl mx-auto">
      La terapia de Inmesion de Hielo han probado numerosos beneficios para la
      salud y el bienestar. Tanto fisicos como mentales.
    </p>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
    {BENEFITS.map((benefit) => <Card {...benefit} />)}
  </div>
</section>
